<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myProductCatLabel" jhiTranslate="ipicytBussApp.productCat.home.createOrEditLabel">Create or edit a Product Cat</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!productCat.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="productCat.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ipicytBussApp.productCat.productCatGlpi" for="field_productCatGlpi">Product Cat Glpi</label>
            <input type="text" class="form-control" name="productCatGlpi" id="field_productCatGlpi"
                [(ngModel)]="productCat.productCatGlpi" required/>
            <div [hidden]="!(editForm.controls.productCatGlpi?.dirty && editForm.controls.productCatGlpi?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.productCatGlpi?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ipicytBussApp.productCat.productCatGlpiId" for="field_productCatGlpiId">Product Cat Glpi Id</label>
            <input type="number" class="form-control" name="productCatGlpiId" id="field_productCatGlpiId"
                [(ngModel)]="productCat.productCatGlpiId" required/>
            <div [hidden]="!(editForm.controls.productCatGlpiId?.dirty && editForm.controls.productCatGlpiId?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.productCatGlpiId?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.productCatGlpiId?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ipicytBussApp.productCat.productCatStructure" for="field_productCatStructure">Product Cat Structure</label>
            <input type="text" class="form-control" name="productCatStructure" id="field_productCatStructure"
                [(ngModel)]="productCat.productCatStructure" required/>
            <div [hidden]="!(editForm.controls.productCatStructure?.dirty && editForm.controls.productCatStructure?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.productCatStructure?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
