
<div *ngIf="contactType">
    <h2><span jhiTranslate="ipicytBussApp.contactType.detail.title">Contact Type</span> {{contactType.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ipicytBussApp.contactType.contactTypeRemedy">Contact Type Remedy</span></dt>
        <dd>
            <span>{{contactType.contactTypeRemedy}}</span>
        </dd>
        <dt><span jhiTranslate="ipicytBussApp.contactType.contactTypeGlpi">Contact Type Glpi</span></dt>
        <dd>
            <span>{{contactType.contactTypeGlpi}}</span>
        </dd>
        <dt><span jhiTranslate="ipicytBussApp.contactType.contactTypeGlpiId">Contact Type Glpi Id</span></dt>
        <dd>
            <span>{{contactType.contactTypeGlpiId}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'contact-type/'+ contactType.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
