<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySubtypeTransactionLabel" jhiTranslate="ipicytBussApp.subtypeTransaction.home.createOrEditLabel">Create or edit a Subtype Transaction</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!subtypeTransaction.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="subtypeTransaction.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ipicytBussApp.subtypeTransaction.subTypeTransactionRemedy" for="field_subTypeTransactionRemedy">Sub Type Transaction Remedy</label>
            <input type="text" class="form-control" name="subTypeTransactionRemedy" id="field_subTypeTransactionRemedy"
                [(ngModel)]="subtypeTransaction.subTypeTransactionRemedy" required/>
            <div [hidden]="!(editForm.controls.subTypeTransactionRemedy?.dirty && editForm.controls.subTypeTransactionRemedy?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.subTypeTransactionRemedy?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ipicytBussApp.subtypeTransaction.subTypeTransactionGlpi" for="field_subTypeTransactionGlpi">Sub Type Transaction Glpi</label>
            <input type="text" class="form-control" name="subTypeTransactionGlpi" id="field_subTypeTransactionGlpi"
                [(ngModel)]="subtypeTransaction.subTypeTransactionGlpi" required/>
            <div [hidden]="!(editForm.controls.subTypeTransactionGlpi?.dirty && editForm.controls.subTypeTransactionGlpi?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.subTypeTransactionGlpi?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ipicytBussApp.subtypeTransaction.subTypeTransactionId" for="field_subTypeTransactionId">Sub Type Transaction Id</label>
            <input type="number" class="form-control" name="subTypeTransactionId" id="field_subTypeTransactionId"
                [(ngModel)]="subtypeTransaction.subTypeTransactionId" required/>
            <div [hidden]="!(editForm.controls.subTypeTransactionId?.dirty && editForm.controls.subTypeTransactionId?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.subTypeTransactionId?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.subTypeTransactionId?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
