
<div *ngIf="subtypeTransaction">
    <h2><span jhiTranslate="ipicytBussApp.subtypeTransaction.detail.title">Subtype Transaction</span> {{subtypeTransaction.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ipicytBussApp.subtypeTransaction.subTypeTransactionRemedy">Sub Type Transaction Remedy</span></dt>
        <dd>
            <span>{{subtypeTransaction.subTypeTransactionRemedy}}</span>
        </dd>
        <dt><span jhiTranslate="ipicytBussApp.subtypeTransaction.subTypeTransactionGlpi">Sub Type Transaction Glpi</span></dt>
        <dd>
            <span>{{subtypeTransaction.subTypeTransactionGlpi}}</span>
        </dd>
        <dt><span jhiTranslate="ipicytBussApp.subtypeTransaction.subTypeTransactionId">Sub Type Transaction Id</span></dt>
        <dd>
            <span>{{subtypeTransaction.subTypeTransactionId}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'subtype-transaction/'+ subtypeTransaction.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
