
<div *ngIf="urgency">
    <h2><span jhiTranslate="ipicytBussApp.urgency.detail.title">Urgency</span> {{urgency.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ipicytBussApp.urgency.urgencyRemedy">Urgency Remedy</span></dt>
        <dd>
            <span>{{urgency.urgencyRemedy}}</span>
        </dd>
        <dt><span jhiTranslate="ipicytBussApp.urgency.urgencyGlpi">Urgency Glpi</span></dt>
        <dd>
            <span>{{urgency.urgencyGlpi}}</span>
        </dd>
        <dt><span jhiTranslate="ipicytBussApp.urgency.urgencyGlpiId">Urgency Glpi Id</span></dt>
        <dd>
            <span>{{urgency.urgencyGlpiId}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'urgency/'+ urgency.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
